<!DOCTYPE html>
<html>
    <head>
        <title>About</title>

        <!-- style sheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <!-- adding the font -->
        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <style>
            :root {
                font-family: Inter, sans-serif;
                font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
            }
            @supports (font-variation-settings: normal) {
                :root { font-family: InterVariable, sans-serif; }
            }
        </style>
    </head>
    <body>
        <h1>About</h1>

        <p>This is a web app</p>
        <p>to help you find games that fit</p>
        <p>your preferences</p>

        <h2>More information</h2>
        <p>Repository at <a href="https://github.com/Coiny555/Waynehacks3">https://github.com/Coiny555/Waynehacks3</a></p>

        <p>Back to the <a href="../">home page</a></p>
    </body>
</html>