<!DOCTYPE html> <!--Using HTML 5-->
<html>
    <head>
        <title>Homepage</title> <!--Tab name-->

        <!-- style sheet -->
        <link rel="stylesheet" href="static/style.css">

        <!-- adding the font -->
        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <style>
            :root {
                font-family: Inter, sans-serif;
                font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
            }
            @supports (font-variation-settings: normal) {
                :root { font-family: InterVariable, sans-serif; }
            }
        </style>
    </head>
<body>
    <div class="top">
        <h1>Game Finder</h1>

        <p id="Paragraph 1">This website is to show game recommendations for you to play!</p>

        <p id="Paragraph 2">With the upmost PECRISE of games to your liking!</p>
        
        <form class="center-text" id="user-input-form">
            <label for="genre">Insert Genre:</label>
            <select id="genre" name="genre">
                <option value="action">Action</option>
                <option value="adventure">Adventure</option>
                <option value="beat_em_up">Beat em up</option>
                <option value="cards">Cards</option>
                <option value="exploration">Exploration</option>
                <option value="fighting">Fighting</option>
                <option value="metroidvania">Metroidvania</option>
                <option value="platformer">Platformer</option>
                <option value="puzzle">Puzzle</option>
                <option value="roguelike">Roguelike</option>
                <option value="rpg">RPG</option>
                <option value="run_&_gun">Run & Gun</option>
                <option value="sandbox">Sandbox</option>
                <option value="shooter">Shooter</option>
                <option value="simulation">Simulation</option>
                <option value="survival">Survival</option>
            </select>
        
            <label for="playtime">Playtime (hours):</label>
            <input type="number" id="playtime" name="playtime" min="1" max="100">
        
            <label for="aspect">Select Game Diffculty:</label>
            <select id="Diffculty" name="Diffculty">
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
        
            <button type="submit">Get Recommendations</button>
        </form>

        <div id="results"></div>
    </div>
    
    <div class="bottom">
        <footer>
            <p>Repository at <a href="https://github.com/Coiny555/Waynehacks3">https://github.com/Coiny555/Waynehacks3</a></p>
        </footer>
    </div>

    <script>
        // Javascript
        const form = document.getElementById('user-input-form'); // document lets you access html elements
        form.addEventListener('submit', (event) => {
            event.preventDefault(); // prevent default submission
            const genre = document.getElementById('genre').value;
            const playtime = document.getElementById('playtime').value;
            const difficulty = document.getElementById('Diffculty').value;
        });
    </script>
      

</body>
</html>