<!DOCTYPE html> <!--Using HTML 5-->
<html>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <style>
        :root {
            font-family: Inter, sans-serif;
            font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
        }
        @supports (font-variation-settings: normal) {
            :root { font-family: InterVariable, sans-serif; }
        }
    </style>
    <head>
        <title>Homepage</title> <!--Tab name-->
    </head>
    <style> 
        h1 {
            text-align: center;
        }
        .center-text {
            text-align: center;
            display: block;
        }
        
    </style> <!--CSS-->
<body style="background-color: whitesmoke;">

    <img src="home-page-images/PS4_Controller.jpg" alt="PS4_Controller" width="200" height="200"/>

    <h1>Welcome to the homepage!!</h1> <!--A heading with an id of "myHeading"-->

    <p id="Paragraph 1" class = "center-text">This website is to show game  <br> reccommendations for you to play!</p> <!--A paragraph with an id of "myParagraph"-->

    <br>
    <br>

    <p id="Paragraph 2" class = "center-text">With the upmost PECRISE of games to your liking!</p>

    <br>
    <br>

    <a  href="/about" class = "center-text"> About</a>

    <br>
    <br>

    <form class="center-text" id="user-input-form">
        <label for="genre">Insert Genre:</label>
        <select id="genre" name="genre">
            <option value="action">Action</option>
            <option value="adventure">Adventure</option>
            <option value="rpg">RPG</option>
            <option value="strategy">Strategy</option>
        </select>
      
        <label for="playtime">Playtime (hours):</label>
        <input type="number" id="playtime" name="playtime" min="1" max="100">
      
        <label for="aspect">Select Game Diffculty:</label>
        <select id="Diffculty" name="Diffculty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
      
        <button type="submit">Get Recommendations</button>
      </form>
      
      <div id="results"></div>

      <script>
        // Javascript
        const form = document.getElementById('user-input-form'); // document lets you access html elements
        form.addEventListener('submit', (event) => {
            event.preventDefault(); // prevent default submission
            const genre = document.getElementById('genre').value;
            const playtime = document.getElementById('playtime').value;
            const difficulty = document.getElementById('Diffculty').value;
        });
    </script>
      

</body>
</html>